* {
    padding: 0;
    margin: 0;
    font-family: tahoma;
}

.login {
    background-image: url(../Images/banner-bg.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.SEC {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.form-login {
    width: 300px;
    margin: auto;
    text-align: center;
    position: relative;
    top: 20%;
    padding: 35px 20px;
    box-shadow: 0 0 8px #aaa;
}

.form-login input {
    display: block;
    padding: 10px 20px;
    border: none;
    margin-top: 11px;
    width: 100%;
    border-radius: 5px;
    outline: none;
    font-size: 16px;

}

.form-login .button {
    padding: 8px 20px;
    margin-top: 15px;
    background: #009900;
    border: none;
    color: #fff;
    border-radius: 10px;
    width: 100%;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 5px;
}

.form-login .Bt {
    color: #009900;
    text-align: center;
    font-size: 14px;
    padding: 15px 5px;
    text-decoration: none;
}

.form-login p {
    color: #fff;
    padding-top: 10px;
}

.form-login img {
    border-radius: 100%;
    position: absolute;
    top: -45;
    left: 50%;
    transform: translateX(-50%);
}